<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>testname</title>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>
<body>
 <header>
  <p id="zagolovok">GELEOSPROC</p>
 </header>
 <div class="box1">
  <div class="boxtext1">
    <p>Сравнение процессоров</p>
  </div>
<div class="boxitem">
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Выпадающий</button>
  <div id="myDropdown" class="dropdown-content">
   <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">          <!-- -->
    <a href="#about">О Нас</a>
    <a href="#base">Основа</a>
    <a href="#blog">Блог</a>
    <a href="#contact">Контакт</a>
    <a href="#custom">Заказ</a>
    <a href="#support">Поддержка</a>
    <a href="#tools">Инструменты</a>
  </div>
</div>
<p >VS</p>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Выпадающий</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="#about">О Нас</a>
    <a href="#base">Основа</a>
    <a href="#blog">Блог</a>
    <a href="#contact">Контакт</a>
    <a href="#custom">Заказ</a>
    <a href="#support">Поддержка</a>
    <a href="#tools">Инструменты</a>
  </div>
</div>
</div>
  <div class="button1">
   <button id="Button1">Сравнить</button>
   </div>
 </div>

</body>

</html>
