{% extends "base_generic.html" %}

{% load static %}\

{% block content %}
<body class="log_reg_body">
  <header id="login_header">
      <h1>Войдите в аккаунт</h1>
  </header>
  <a href="/" class="top_right_links">На главную</a>

  {% if form.errors %}
    <p>Логин или пароль введены неправильно.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="log_reg_elements">
      <p>Введите логин</p>
      <input name="username" placeholder="Логин">
      <p>Введите пароль</p>
      <input name="password" placeholder="Пароль">

      <input type="submit" value="Войти" id="login_send_btn"/>
      <input type="hidden" name="next" value="{{ next }}" />
      <a href="/accounts/register/" id="login_to_reg_link">Нет аккаунта? Зарегистрируйтесь.</a>
  </div>
  </form>
</body>
{% endblock %}
