{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<body class="_body">
  <a href="/" class="top_right_links"><i class="fas fa-home"></i> На главную</a>
  <div class="log_reg_back">
    <div id="login_title" class="title">
        <h1>Войдите в аккаунт</h1>
    </div>

    {% if form.errors %}
    <div class="error">
      <p>Логин или пароль введены неправильно.</p>
    </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="log_reg_elements">
        <input name="username" placeholder="Логин" class="log_reg_input">
        <input name="password" placeholder="Пароль" class="log_reg_input" type="password">
        <div class="log_reg_links">
          <a href="/WIP/">Забыли пароль?</a>
          <a href="/accounts/register/">Регистрация</a>
        </div>
        <input type="submit" value="Войти" id="login_send_btn"/>
        <input type="hidden" name="next" value="{{ next }}" />
        
    </div>
    </form>
  </div>
</body>
{% endblock %}
