{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<body class="_body">
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'CSS/style2.css'%}"/>
    <script src="{% static 'JS/cart_page.js' %}"></script>
    <div id="myDataElement" data-django-variable="{{ cart_json }}"></div>

    <a href="/" class="top_right_links"><i class="fas fa-home"></i> На главную</a>

    <h1 id='h1' class="anim" style="color: rgba(0,212,255,1);">Избранное</h1>
    
    <div class="cart_total anim">
        <p id="total">Итоговая цена:</p>
    </div>
</body>
{% endblock %}