{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<body class="_body_comp">
  <div id="myDataElement" data-django-variable="{{ cart_json }}"></div>

  {% if user.is_authenticated %}

  <div class="top_right_links_home" style="width: 280px;">
    <button class="btn" onclick="cartOpen()"><i class="fas fa-star"></i> Избранное</button>
    <a href="/"><i class="fas fa-home"></i> На главную</a>
  </div>

  {% else %}
    <a href="/" class="top_right_links"><i class="fas fa-home"></i> На главную</a>
  {% endif %}

  <div class="log_reg_back no_anim" style="margin-top: 100px;">
    <form method="POST" action="/cpucomparison/">
      {% csrf_token %}
    <div class="log_reg_elements">
      <div id="comp_title" class="title">
        <h1>Сравнить процессоры</h1>
      </div>
      <form method="POST" action="/cpucomparison/">
      <div class="cpu_choice">
        <div>
          <input type="search" value="{{ cpu1Name }}" name="cpu1" class="input_cpu_name log_reg_input" placeholder="Название" id="input_1" onClick="choiceToggle(this.id)" onkeyup="filterFunction(this.id, 'cpu_list_1'); choiceOpen(this.id);" onsearch="filterFunction(this.id, 'cpu_list_1'); choiceOpen(this.id);">
        </div>
        <div style="top: 60%;" class="cpu_list_items hidden" id="cpu_list_1" >
          {% for cpu in CPUS %}
            <p onClick="insertText(this, 'input_1')">{{ cpu.name }}</p>
          {% endfor %}
        </div>

        <p> VS </p>

        <div>
          <input type="search" value="{{ cpu2Name }}" name="cpu2" class="input_cpu_name log_reg_input" placeholder="Название" id="input_2" onClick="choiceToggle(this.id)" onkeyup="filterFunction(this.id, 'cpu_list_2'); choiceOpen(this.id);" onsearch="filterFunction(this.id, 'cpu_list_2'); choiceOpen(this.id);">
        </div>
        <div style="top: 60%;" class="cpu_list_items hidden" id="cpu_list_2">
          {% for cpu in CPUS %}
            <p onClick="insertText(this, 'input_2')">{{ cpu.name }}</p>
          {% endfor %}
        </div>
      </div>

      <button id="comp_btn" class="btn" type="submit" value="Send">Сравнить</button>
    
    </div>
  </form>
  </div>
  
  {% if valid_info %}
  <table border="0" width="75%" cellpadding="5">
    <tr>
      <td>Название процессора</td>
      <td>{{ cpu1Name }}</td>
      <td>{{ cpu2Name }}</td> 
    </tr>
    <tr>
      <td>Цена</td>
      {% if cpu1.cost != 0 %}
      <td>{{ cpu1.cost }} ₽</td>
      {% else %}
      <td>-</td>
      {% endif %}
      {% if cpu2.cost != 0 %}
      <td>{{ cpu2.cost }} ₽</td>
      {% else %}
      <td>-</td>
      {% endif %}
    </tr>
    {% if user.is_authenticated%}
    <tr>
      <td>Купить</td>
      {% if cpu1.cost != 0 %}
      <td><button id="buy_btn1" class="btn" onClick="cpuAddToCart('{{ cpu1Name }}', '{{ cpu1.cost }}')">В избранное</button></td>
      {% else %}
      <td></td>
      {% endif %}
      {% if cpu2.cost != 0 %}
      <td><button id="buy_btn2" class="btn" onClick="cpuAddToCart('{{ cpu2Name }}', '{{ cpu2.cost }}')">В избранное</button></td> 
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    {% endif %}
    <tr>
      <td>Ядра</td>
      <td>{{ cpu1.cores }}</td>
      <td>{{ cpu2.cores }}</td>
    </tr>
    <tr>
      <td>Потоки</td>
      <td>{{ cpu1.threads }}</td>
      <td>{{ cpu2.threads }}</td>
    </tr>
    <tr>
      <td>Базовая частота</td>
      <td>{{ cpu1.base_freq }} ГГц</td>
      <td>{{ cpu2.base_freq }} ГГц</td>
    </tr>
    <tr>
      <td>Максимальная частота</td>
      <td>{{ cpu1.max_freq }} ГГц</td>
      <td>{{ cpu2.max_freq }} ГГц</td>
    </tr>
    <tr>
      <td>Максимальная температура</td>
      <td>{{ cpu1.max_temp }} ℃</td>
      <td>{{ cpu2.max_temp }} ℃</td>
    </tr>
    <tr>
      <td>Совместимость с Windows 11</td>
      <td>{{ cpu1.win11 }}</td>
      <td>{{ cpu2.win11 }}</td>
    </tr>
  </table>
  {% else %}
  <p>Данные введены неправильно!</p>
  {% endif %}

<script src="{% static 'JS/script.js' %}"></script>
<script src="{% static 'JS/cart.js' %}"></script>
<link rel="stylesheet" href="{% static 'CSS/style2.css'%}"/>
</body>
{% endblock %}
