{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<body class="_body">
  {% csrf_token %}
  <div id="myDataElement" data-django-variable="{{ cart_json }}"></div>
  <script src="{% static 'JS/cart.js' %}"></script>

  
  <div id="home_title" class="title">
    <img class="" src="{% static 'media/cpu_i0tawaigz7hg.ico' %}">
    <h1>Главная страница</h1>
  </div>

  <div class="link_to_comp">
    <a href="/cpucomp/"><i class="fas fa-balance-scale"></i> Сравнение процессоров</a>
  </div>

  {% if user.is_authenticated %}

  <div class="top_right_links_home">
    <button class="btn" onclick="cartOpen()"><i class="fas fa-star"></i> Избранное</button>
    <a href="/accounts/logout/"><i class="fas fa-sign-out-alt"></i> Выход</a>
  </div>

  {% else %}
    <a href="/accounts/login/" class="top_right_links"><i class="fas fa-sign-in-alt"></i> Вход</a>
  {% endif %}

</body>
{% endblock %}
