{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>testname</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css'%}"/>
  <script src="{% static 'JS/script.js' %}"></script>
</head>
<body>
 <header>
  <p id="zagolovok">GELEOSPROC</p>
 </header>
 <form method="POST" action="cpucomparison/">
  {% csrf_token %}
 <div class="box1">
  <div class="boxtext1">
    <p>Сравнение процессоров</p>
  </div>
  <div class="boxitem">
    <div class="dropdown" id="dropdown">
        <input name="cpu1" type="text" placeholder="Название процессора" id="myInput" onkeyup="filterFunction('myInput', 'myDropdown')" onfocus="showDropdown('myInput', 'myDropdown')">    
        <div id="myDropdown" class="dropdown-content">
          {% for cpu in CPUS %}
            <p onclick="insertText(this)">{{ cpu.name }}</p>
          {% endfor %}
        </div>
      </div>
    <p >VS</p>
    <div class="dropdown2" id="dropdown2">
      <input name="cpu2" type="text" placeholder="Название процессора" id="myInput2" onkeyup="filterFunction('myInput2', 'myDropdown2')" onfocus="showDropdown('myInput2', 'myDropdown2')">
      <div id="myDropdown2" class="dropdown-content">
          {% for cpu in CPUS %}
            <p onclick="insertText(this)">{{ cpu.name }}</p>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="button1">
   <button id="Button1" type="submit" value="Send">Сравнить</button>
  </div>
 </div>
</form>
</body>
</html>
