body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}


._body, ._body_comp {
  background: linear-gradient(180deg, rgba(5,0,90,1) 0%, rgba(17,17,150,1) 35%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-attachment: fixed; /* Зафиксировать фон */
}

._body_comp {
  height: auto;
}

.title, .log_reg_elements {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.title{
  color: rgba(0,212,255,1);
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

._body #register_title {
  width: auto;
}

.log_reg_back {
  width: 33%;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, .2);
  border-radius: 15px;
  animation: showDown 0.7s;
}

@keyframes showDown {
  from {transform:translate(0%, -75%);}
  to {transform:translate(0%, 0%);}
}

@keyframes showDownHome {
  from {transform:translate(0%, -350%);}
  to {transform:translate(0%, 0%);}
}

.log_reg_input, #login_send_btn , #reg_send_btn {
  background-color: rgba(208, 208, 208, 0.552);
  width: 80%;
  padding: 5px;
  height: 45px;
  margin: 20px;
  border-radius: 5px;
  color: white;
  border-color: white;
  border-width: 0px;
  text-align: left;
  font-size: 16px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.log_reg_input::placeholder {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: white;
}

#login_send_btn, #reg_send_btn {
  background-color: rgba(0,212,255,1);
  width: 25%;
  text-align: center;
}

#reg_send_btn {
  width: 60%;
  margin: 10px;
}

.log_reg_links {
  margin: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.log_reg_links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

#reg_to_login_link {
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.top_right_links {
  background-color: rgba(0,212,255,1);
  padding: 10px;
  color: black;
  border-width: 0px;
  border-radius: 5px;
  position:absolute;
   top: 15px;
   right: 15px;
  text-decoration: none;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, .2);
}

.top_right_links_home {
  display: flex;
  width: 170px;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  right: 15px;
}

.top_right_links_home a, .btn, .cart_btn, .link_to_comp a  {
  cursor: pointer;
  background-color: rgba(0,212,255,1);
  padding: 10px;
  color: black;
  border-width: 0px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, .2);
}

.link_to_comp {
  position: absolute;
  top: 30px;
  left: 15px;
}

#home_title {
  animation: showDownHome 0.7s;
}

#login_title, #register_title, #home_title {
  text-align: center;
}

#logout_text{
  color: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 24px;
}

.error {
  color: red;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 14px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.cart {
  display: flex;
  position: absolute;
  border-radius: 5px;
  flex-direction: column;
  top: 75px;
  right: 75px;
  background-color: white;
  width: 30%;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animated {
  animation: fadeIn 0.3s;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.animated-fade-out {
  animation: fadeOut 0.3s; /* Применение анимации исчезновения */
}

.cart p {
  text-align: right;
  padding-right: 10px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.clear_cart {
  cursor: pointer;
  width: 35%;
  align-self: self-end;
  background-color: #ffffff00;
  border-width: 0px;
  text-decoration: underline;
  color: gray;
  padding-top: 5px;
}

.cart_elem  p{
  text-align: left;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.cart_elem {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  background-color: wheat;
  border-width: 0px;
  border-radius: 5px;
}

.cart_elem_1 {
  padding-left: 10px;
}

.cart_btn {
  width: 25%;
  align-self: self-end;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  text-align: center;
}

.log_reg_elements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log_reg_elements p {
  margin: 5px;
}



